.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://play.teleporthq.io/static/svg/default-img.svg");
}
.home-navbar-interactive {
  width: 100%;
  height: 61px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  justify-content: space-between;
  background-image: linear-gradient(to right, #fc00ff 0%, #00dbde 100%);
}
.home-navlink {
  display: contents;
}
.home-dexits-logo {
  width: 152px;
  height: 64px;
  object-fit: cover;
  text-decoration: none;
}
.home-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-site-pages {
  align-self: center;
}
.home-text01 {
  margin-left: var(--dl-space-space-twounits);
}
.home-text02 {
  margin-left: var(--dl-space-space-twounits);
}
.home-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-text03 {
  margin-left: var(--dl-space-space-twounits);
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-container3 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.home-login-register {
  display: flex;
}
.home-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo {
  height: 2rem;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-links {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.home-text09 {
  top: 120px;
  color: #ffffff;
  position: absolute;
  font-size: 48px;
  font-family: "Arial Black";
  text-transform: uppercase;
}
.home-container5 {
  top: 61px;
  flex: 0 0 auto;
  right: 602px;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: center;
}
.home-image {
  width: 100%;
  height: 768px;
  object-fit: cover;
}
.home-link {
  display: contents;
}
.home-discord-logo {
  top: 70px;
  right: 10px;
  width: 30px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.home-link1 {
  display: contents;
}
.home-telegram-logo {
  top: 70px;
  right: 62px;
  width: 30px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
@media(max-width: 1200px) {
  .home-navbar-interactive {
    padding-top: 13px;
  }
  .home-container3 {
    position: relative;
  }
  .home-login-register {
    top: auto;
    right: 10px;
    height: auto;
  }
  .home-text09 {
    top: 130px;
    left: 395px;
    border-color: var(--dl-color-gray-black);
  }
  .home-image {
    width: 100%;
    height: 778px;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-text04 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text05 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text06 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text07 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text08 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
}
